<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace理解为实现类的全路径 -->
<mapper namespace="a.b">
	<!-- 
		id:代表方法名称
		parameterType：参数类型
		resultType：返回类型[如果返回值是list类型，在resultType中写List的泛型，
					因为MyBatis是对JDBC的封装，一行一行读取数据]
	 -->
	 <select id="selAll" resultType="com.mys.bean.Flower">
	 	select * from flower
	 </select>
	 
	 <select id="selbyId" resultType="int">
	 	select count(*) from flower
	 </select>
	 
	 <select id="selMap" resultType="com.mys.bean.Flower" >
	 	select * from flower
	 </select>
</mapper>